html {
  width: 400px;
  border: none;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #443e48;
  color: #f8f4f4;
}
h1 {
  font-size: 22px;
}
label {
  display: block;
}

input {
  width: 250px;
  padding: 4px;
  margin-bottom: 10px;
}

textarea {
  width: 250px;
  min-height: 200px;
  margin-bottom: 10px;
}

.tab {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  background-color: lightgray;
  color: #666;
  border-radius: 20px;
  font-size: 12px;
}

.active {
  background: rgb(229, 28, 229);
  color: white;
}
.tab-content {
  display: none;
}

.visible {
  display: block;
}
